
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
svg{
    background-color: white;
}

#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
}

#legend {
    display: flex;
    flex-direction: row;
}